<ion-view view-title="Member Info">
  <ion-content>
    <div class="text-center padding">
      <img class="prof-size" src="{{photoURL}}" ng-click="updateFacebook()">
    </div>
    <div class="list" style="margin-right: -0.125rem;">
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-person icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Name </h2>
          <p id="account-margin"> {{name}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <img id="age-size" src="img/age.jpg">
        </div>
        <div class="col col-80">
          <h2> Age </h2>
          <p id="account-margin"> {{age}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-email icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Email </h2>
          <p id="account-margin"> {{email}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-telephone icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Phone Number </h2>
          <p id="account-margin"> {{phone}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-location icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Location </h2>
          <p id="account-margin"> {{location}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-university icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> College </h2>
          <p id="account-margin"> {{college}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-code icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Languages </h2>
          <p id="account-margin"> {{languages}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-wrench icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Specialization </h2>
          <p id="account-margin"> {{special}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-world icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Personal Website </h2>
          <p id="account-margin"> {{website}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-social-github icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Github </h2>
          <p id="account-margin"> {{github}} </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
