<ion-view view-title="Merit/Demerit">
  <ion-content>
    <div class="text-center padding">
      <img class="sm-logo-size" src="img/tt.png">
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label"> Active Name </span>
        <input type="text" id="field2" placeholder="Active Name" ng-model="merit.active" focus required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"> Reason </span>
        <input type="text" id="field3" placeholder="Reason" ng-model="merit.reason" focus required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"> Amount </span>
        <input type="number" id="field4" placeholder="Amount" ng-model="merit.amount" min="1" max="100" focus required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"> Secret Code </span>
        <input type="password" id="field5" placeholder="Secret Code" ng-model="merit.code" required>
      </label>
    </div>
    <div class="list list-inset" id="head-margin">
      <div class="button-bar">
        <button class="button button-block tt-gold" ng-click="addMerit(merit)">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-plus-round"></i>
            </div>
            <div class="col col-80">
              Merit
            </div>
          </div>
        </button>
        <button class="button button-block tt-maroon" ng-click="addDemerit(merit)">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-minus-round"></i>
            </div>
            <div class="col col-80">
              Demerit
            </div>
          </div>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
