<ion-tabs class="tabs-striped tabs-icon-top tabs-background-calm">

  <!-- My Hacks Tab -->
  <ion-tab title="Bulb Info" class="tab-details" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/my-bulb/info">
    <ion-nav-view name="my-bulb-info"></ion-nav-view>
  </ion-tab>

  <!-- Members Tab -->
  <ion-tab title="Members" class="tab-details" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/my-bulb/members">
    <ion-nav-view name="my-bulb-members"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chat" class="tab-details" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/my-bulb/chat">
    <ion-nav-view name="my-bulb-chat"></ion-nav-view>
  </ion-tab>
</ion-tabs>
