<ion-view view-title="Update Password">
  <ion-content>
    <div class="text-center padding">
      <img class="logo-size" src="img/logo.png">
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label"> Old Password </span>
        <input type="password" id="field2" placeholder="Old Password" ng-model="user.oldPassword" focus>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"> New Password </span>
        <input type="password" id="field3" placeholder="New Password" ng-model="user.newPassword">
      </label>
    </div>
    <div class="list list-inset">
      <button class="button button-block button-calm" ng-click="update(user)">
        Update Password
      </button>
    </div>
  </ion-content>
</ion-view>
