<ion-view view-title="Register">
  <ion-pane>
    <ion-content>
      <div class="text-center padding">
        <img class="logo-size" src="img/logo.png">
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label"> Name </span>
          <input type="text" id="field2" placeholder="Name" ng-model="user.name" focus>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Email </span>
          <input type="email" id="field3" placeholder="Email" ng-model="user.email" focus>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Password </span>
          <input type="password" id="field4" placeholder="Password (5-30 characters)" ng-model="user.password">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Confirm Password </span>
          <input type="password" id="field5" placeholder="Confirm Password" ng-model="user.confirm">
        </label>
      </div>
      <div class="list list-inset">
        <button class="button button-block button-calm" ng-click="register(user)">
          Register
        </button>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
