<ion-view view-title="Register">
  <ion-pane>
    <ion-nav-bar class="tt-maroon">
      <ion-nav-back-button id="back-btn-color"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
      <div class="text-center padding">
        <img src="../img/tt.png" height="214px" width="125px">
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label"> Name </span>
          <input type="text" placeholder="Name" ng-model="user.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Email </span>
          <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Password </span>
          <input type="password" placeholder="Password (5-30 characters)" ng-model="user.password">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"> Secret Code </span>
          <input type="password" placeholder="Secret Code" ng-model="user.code">
        </label>
      </div>
      <div class="list list-inset">
        <button class="button button-block tt-maroon" ng-click="register(user)">
          Register
        </button>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
