<ion-view view-title="Messenger">
  <ion-pane>
    <ion-content class="padding" style="margin-bottom: -0.9375rem;">
      <div class="row" id="txt-margin" ng-repeat="message in messages | orderBy:'time'">
        <div class="col col-25">
          <a href="#/tab/messenger/user-detail" ng-click="seeProfile(message)">
            <img class="user-size" ng-src="{{message.photo}}">
          </a>
        </div>
        <div class="col col-75" id="msg-margin">
          <div class="row">
            <div id="name-margin">
              <h5><strong> {{message.name}} </strong></h5>
            </div>
            <div id="date-margin">
              <p class="msg-font"> {{message.time | date:'short'}} </p>
            </div>
          </div>
          <div class="row" id="body-margin">
            <div class="col col-75">
              <!-- "margin-right: -150px;" -->
              <p style="margin-right: -4.5rem;"> {{message.text}} </p>
            </div>
            <div class="col col-25" id="heart-margin">
              <i class="icon ion-heart" id="like-size" ng-click="like(message)" ng-hide="message.likes"></i>
              <i class="icon ion-heart" id="liked-size" ng-click="like(message)" ng-show="message.likes"></i>
              <span style="font-size: 12px;" ng-show="message.likes">
                {{message.likes}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="add-msg footer-border">
      <form class="title" ng-submit="addMessage(message)">
        <input class="msg-input" type="text" placeholder="Send Message" ng-model="message.text" class="msg-input" required>
      </form>
      <button type="submit" class="button button-clear button-stable" ng-click="addMessage(message)">
        <span class="button-icon ion-android-send"><span>
      </button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
