<ion-view view-title="Account">
  <ion-content>
    <div class="text-center padding">
      <img class="prof-size" src="{{photoURL}}" ng-click="updateFacebook()">
    </div>
    <div class="list" style="margin-right: -0.125rem;">
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-people icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Class </h2>
          <p id="account-margin"> Omicron </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-person icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Name </h2>
          <p id="account-margin"> {{name}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-email icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Email </h2>
          <p id="account-margin"> {{email}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-telephone icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Phone Number </h2>
          <p id="account-margin"> {{phone}} </p>
        </div>
      </div>
      <div class="row item">
        <div class="col col-20 text-center padding">
          <i class="icon ion-ios-briefcase icon-size"></i>
        </div>
        <div class="col col-80">
          <h2> Major </h2>
          <p id="account-margin"> {{major}} </p>
        </div>
      </div>
    </div>

    <div style="margin-top: -10px;">
      <a class="button button-small button-full tt-maroon" href="#/tab/account/user-update">
        Update Profile
      </a>
      <a class="button button-small button-full tt-maroon" href="#/tab/account/pass-update">
        Update Password
      </a>
      <a class="button button-small button-full tt-maroon" href="#" ng-click="auth.signOut()">
        Sign Out
      </a>
    </div>
  </ion-content>
</ion-view>
