<ion-view view-title="Merit Book">
  <ion-content class="padding" style="margin-bottom: 1.5625rem;">
    <div class="merit-border" id="merit-txt" ng-repeat="merit in merits | orderBy:'date'">
      <div class="row">
        <div class="col col-67" id="merit-active">
          <h5><strong> {{merit.active}} </strong></h5>
        </div>
        <div class="col col-33" id="merit-date">
          <p class="msg-font"> {{merit.date | date:'short'}} </p>
        </div>
      </div>
      <div class="row" id="merit-body">
        <div class="col col-67">
          <p> {{merit.reason}} </p>
        </div>
        <div class="col col-33" id="merit-amount">
          <p> Amount: {{merit.amount}} </p>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar id="merit-footer">
    <div class="row merit-border">
      <div class="col col-90" id="head-margin" style="text-align: center;">
        <h4 style="margin-right: -2.5rem;"> Total Merits: {{total}} </h4>
      </div>
      <div class="col col-10" style="margin-top: -0.625rem;">
        <i class="icon ion-chevron-up sm-icon-size" ng-click="scrollTop()"></i>
        <i class="icon ion-chevron-down sm-icon-size" ng-click="scrollBottom()"></i>
      </div>
    </div>
    <div class="row" id="merit-btn-margin">
      <div class="col">
        <a class="button button-block footer-button tt-maroon" href="#/tab/merit-book/merit">
          Merit/Demerit
        </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
