<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-icon-top tabs-background-calm">

  <!-- My Hacks Tab -->
  <ion-tab title="My Bulbs" class="tab-details" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/bulbs">
    <ion-nav-view name="tab-bulbs"></ion-nav-view>
  </ion-tab>

  <!-- Projects Tab -->
  <ion-tab title="Projects" class="tab-details" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/projects">
    <ion-nav-view name="tab-projects"></ion-nav-view>
  </ion-tab>

  <!-- Search -->
  <ion-tab title="Search" class="tab-details" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Messenger Tab -->
  <ion-tab title="Messenger" class="tab-details" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/messenger">
    <ion-nav-view name="tab-messenger"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" class="tab-details" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
